body {
  background: #95D5ED;
  color: Crystal Blue;
  font-family: Arial, sans-serif;
  width: 340px;
  padding: 15px;
  margin: 0;
}

.logo {
  width: 60px;
  display: block;
  margin: 0 auto 10px auto;
}

h2 {
  text-align: center;
  margin-bottom: 12px;
}

#preview {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  height: 130px;
  background: #1e293b;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  resize: none;
  font-size: 13px;
}

button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background: linear-gradient(90deg, #3b82f6, #2563eb);
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

button:hover {
  opacity: 0.9;
}
